@charset "UTF-8";
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body._lock {
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  line-height: 1;
  font-family: "";
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

._container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1312px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
  position: relative;
  z-index: 2;
}
.header__logo img {
  max-width: 100%;
}

.header__menu {
  margin-left: 13.1578947368%;
}

.menu {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__list li {
  margin-right: 45px;
  padding: 5px 0;
}
.menu__list li:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.02em;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #ffffff;
}
.menu__link:hover {
  color: #60f285;
}

.header__tel {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 150px;
  border-radius: 40px 40px 0 40px;
  height: 41px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 2px 13px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 13px 0px rgba(0, 0, 0, 0.5);
}
.header__tel span {
  font-size: 16px;
  line-height: 1.2;
  padding: 0 25px;
  font-weight: 700;
  color: #000000;
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    top: 0px;
    left: 0;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .icon-menu._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: calc(50% - 1px);
  }
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #444;
    overflow: auto;
    padding: 80px 15px 15px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__body:after {
    content: "";
    position: fixed;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 0;
    left: -100%;
    width: 100%;
    height: 70px;
    background: #003ecd;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active:after {
    left: 0;
  }
  .menu__body .menu__list {
    display: block;
  }
  .menu__body .menu__list li {
    margin-right: 0;
    padding: 0 0 20px 0;
  }
  .menu__body .menu__list .menu__link {
    font-size: 24px;
  }

  .header .header__container {
    min-height: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header__container .header__logo {
    width: 150px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .header .header__container .menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .header .header__container .header__menu {
    margin-left: 0%;
  }

  .header__tel {
    min-width: 100px;
  }
  .header__tel span {
    padding: 0;
  }
}
@media (max-width: 1312px) {
  .header__menu {
    margin-left: 4.3859649123%;
  }

  .menu__list li {
    margin-right: 20px;
    padding: 5px 0;
  }
}
@media (max-width: 992.98px) {
  .header__container {
    min-height: 100px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 220px;
            flex: 0 0 220px;
  }
}
@media (max-width: 479.98px) {
  .header .header__container .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
    position: static;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
/*
//Burger

*/
/*Файл footer*/
.footer {
  padding: 93px 0 35px;
  background: #26303c;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.footer__container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
}

.footer__logo {
  margin-bottom: 50px;
}

.footer-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}

.footer__location {
  margin-bottom: 30px;
  max-width: 210px;
}

.footer__socials {
  margin-top: 30px;
}
.footer__socials span {
  margin-right: 10px;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-left: 115px;
}

.menu-footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.menu-footer__column:not(:last-child) {
  margin-right: 100px;
}
.menu-footer__column:last-child {
  margin-left: 50px;
}

.footer__title {
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer__list li:not(:last-child) {
  margin-bottom: 16px;
}

.footer__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #9ea7b8;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 125px;
}

.footer__item {
  line-height: 48px;
  font-weight: 300;
  color: #ffffff;
}
.footer__item span a {
  color: #01d4ed;
}

.footer__pynkt {
  line-height: 48px;
  color: #667281;
}
.footer__pynkt:not(:first-child) {
  margin-left: 10px;
}

@media (max-width: 1312px) {
  .menu-footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 65px;
  }

  .menu-footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
  .menu-footer__column:not(:last-child) {
    margin-right: 50px;
  }
  .menu-footer__column:last-child {
    margin-left: 0px;
  }
}
@media (max-width: 992.98px) {
  .footer__body {
    display: block;
  }

  .menu-footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0px;
  }

  .footer__socials {
    margin-bottom: 30px;
  }

  .footer__location {
    margin-bottom: 25px;
    max-width: none;
  }
}
@media (max-width: 767.98px) {
  .footer__logo {
    margin-bottom: 30px;
  }

  .footer {
    padding: 50px 0 30px;
  }

  .menu-footer {
    display: block;
  }

  .footer__bottom {
    display: block;
    margin-top: 50px;
  }

  .footer__pynkt {
    line-height: 24px;
  }

  .footer__item {
    line-height: 24px;
  }

  .footer__title {
    margin-bottom: 0px;
    cursor: pointer;
  }
}
/*--------------------*/
._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

._title, ._title-w {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 46px;
  line-height: 54px;
  font-weight: 700;
  color: #091e42;
  position: relative;
  text-align: center;
  padding-bottom: 25px;
}
._title-w {
  color: #fff;
}
._title span, ._title-w span {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -15px;
  width: 35px;
  height: 5px;
  background: #babbbf;
}
._title:before, ._title-w:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -35px;
  height: 5px;
  width: 13px;
  background: #babbbf;
}
._title:after, ._title-w:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: 27px;
  height: 5px;
  width: 13px;
  background: #babbbf;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.home {
  padding: 300px 0;
  position: relative;
}

.home__content {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  z-index: 2;
  max-width: 600px;
}

.home__title {
  font-size: 76px;
  line-height: 76px;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-bottom: 28px;
}

.home__subtitle {
  margin-bottom: 48px;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.01em;
  color: #f3f3f3;
}

.home__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home__btn {
  margin-right: 77px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 18px;
  line-height: 47px;
  min-height: 47px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
  border-radius: 30px;
  padding: 0 37px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, right top, from(#0bdbdf), to(#60f285));
  background-image: linear-gradient(90deg, #0bdbdf 0%, #60f285 100%);
}
.home__btn:hover {
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, right top, from(#03dbdf), to(#30f285));
  background-image: linear-gradient(90deg, #03dbdf 0%, #30f285 100%);
}

.home__link {
  opacity: 0.7;
  font-size: 18px;
  line-height: 1.2;
  color: #01d6ec;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: block;
}
.home__link:hover {
  color: #60f285;
}

.home__bg {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 767.98px) {
  .home {
    padding: 130px 0 50px;
  }
  .home .home__content {
    max-width: none;
  }
  .home .home__content .home__title {
    font-size: 60px;
    margin-bottom: 20px;
  }
  .home .home__content .home__subtitle {
    margin-bottom: 30px;
  }
  .home .home__content .home__links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .home__content .home__links .home__btn {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
.provided {
  padding: 65px 0 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.provided__container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.provided__title {
  margin-bottom: 70px;
}

.provided__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.providede__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 50px;
  margin-bottom: 110px;
}

.provided__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.provided__icon {
  margin-right: 26px;
}

.provided__subtitle {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 35px;
  color: #091e42;
}

.provided__text {
  font-size: 20px;
  line-height: 36px;
  font-weight: 300;
  color: #3c3c3c;
}

@media (max-width: 992.98px) {
  .provided {
    padding: 50px 10px;
  }

  .providede__column {
    padding: 0 20px;
    margin-bottom: 50px;
  }

  .provided__row {
    margin: 0 -20px;
  }
}
@media (max-width: 767.98px) {
  .provided {
    padding: 0px 10px 30px;
    padding-top: 760px;
  }
}
@media (max-width: 767.98px) and (max-width: 1300px) {
  .provided {
    padding-top: calc(350px + 410 * ((100vw - 320px)/ 980));
  }
}
@media (max-width: 767.98px) {
  .providede__column {
    padding: 0;
    margin-bottom: 25px;
  }
}
@media (max-width: 767.98px) {
  .provided__icon {
    text-align: center;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media (max-width: 767.98px) {
  .provided__item {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .provided__row {
    margin: 0;
    display: block;
  }
}
@media (max-width: 767.98px) {
  .provided__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .provided__subtitle {
    margin-bottom: 10px;
    text-align: center;
  }
}
.stat {
  padding: 50px 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.stat__container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 65px 10px 0;
  position: relative;
}
.stat__container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #003ecd;
}

.stat__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 205px;
}

.stat__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  position: relative;
}
.stat__column:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 3px;
  height: 51px;
  background-color: #003ecd;
}
.stat__column:last-child:after {
  display: none;
}

.stat__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 1.2;
  color: #003ecd;
}

.stat__icon {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 20px;
}

.stat__num {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 10px;
}

.stat__label {
  font-size: 18px;
  text-transform: uppercase;
}

.stat__title {
  margin-bottom: 55px;
  font-size: 46px;
  line-height: 1.2;
  text-align: center;
  font-weight: 700;
  color: #091e42;
}

.stat__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stat__img {
  border: 5px solid #091e42;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-right: 38px;
}

.stat__list {
  padding: 30px 0;
}

.stat__pynkt {
  font-size: 20px;
  line-height: 40px;
  color: #091e42;
  padding-left: 30px;
  background: url(../img/stat/icon/icon1.png) left no-repeat;
}

@media (max-width: 992.98px) {
  .stat__img {
    margin-right: 0px;
    padding: 0 0 55% 0;
  }

  .stat__content {
    display: block;
  }

  .stat__list {
    padding-left: 30px;
  }
}
@media (max-width: 767.98px) {
  .stat__row {
    display: block;
    margin-bottom: 100px;
  }

  .stat__column {
    margin-bottom: 35px;
  }
  .stat__column:after {
    display: none;
  }

  .stat__icon {
    margin-bottom: 5px;
  }

  .stat__num {
    margin-bottom: 5px;
  }
}
@media (max-width: 600px) {
  .stat__list {
    padding: 20px 0 20px 0;
  }
}
.see {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 73px 0;
  background-color: #0052cc;
  background-image: linear-gradient(131deg, #003ecd 32%, #0065ff 67%);
}

.see__container {
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 10px;
}

.see__title {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 40px;
}

.see__button {
  font-size: 26px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 55px;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 63px;
  line-height: 63px;
  background-color: #3d3d3d;
  background-image: -webkit-gradient(linear, left top, right top, from(#7c9eff), to(#30dcff));
  background-image: linear-gradient(90deg, #7c9eff 0%, #30dcff 100%);
}
.see__button:hover {
  background-color: #3d3d3d;
  background-image: -webkit-gradient(linear, left top, right top, from(#5c9eff), to(#00dcff));
  background-image: linear-gradient(90deg, #5c9eff 0%, #00dcff 100%);
}

@media (max-width: 767.98px) {
  .see__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .see__button {
    font-size: 24px;
    padding: 0 25px;
    line-height: 30px;
  }

  .see {
    padding: 50px 0;
  }
}
.work {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 100px 0 0 0;
}

.work__container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__columns {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
}
.work__columns-s {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
.work__columns-e {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding-top: 120px;
}
.work__columns-b {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36%;
          flex: 0 1 36%;
  margin-left: 30px;
}

.work__column {
  margin-bottom: 55px;
  margin-right: 45px;
}

.work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 49px 0px rgba(227, 227, 227, 0.4);
          box-shadow: 0px 0px 49px 0px rgba(227, 227, 227, 0.4);
  border-radius: 10px;
  padding: 30px;
}
.work__item-g {
  background-color: #42526e;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(66, 82, 110, 0.66);
          box-shadow: 0px 0px 40px 0px rgba(66, 82, 110, 0.66);
}
.work__item-g .work__label {
  color: #f1f6fe;
}

.work__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-bottom: 40px;
  width: 82px;
  height: 82px;
}
.work__icon-1 {
  background: #d1f7ff;
}
.work__icon-2 {
  background: #ddffd1;
}
.work__icon-3 {
  background: #f3f7ff;
}
.work__icon-4 {
  background: #ffe3d1;
}

.work__label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 20px;
  line-height: 24px;
  color: #091e42;
  margin-bottom: 28px;
}

.work__text {
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  color: #8f9091;
}
.work__text-b {
  font-size: 20px;
  line-height: 36px;
  color: #3c3c3c;
  margin-bottom: 80px;
}

.work__title {
  font-size: 44px;
  line-height: 50px;
  color: #091e42;
  margin-bottom: 40px;
}

.work__link {
  font-size: 18px;
  line-height: 36px;
  color: #0052cc;
  padding-right: 30px;
  background: url(../img/icons/work/arrow.png) right no-repeat;
}
.work__link:hover {
  text-decoration: underline;
}

@media (max-width: 1312px) {
  .work__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .work__columns {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .work__columns-s {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .work__columns-e {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    padding-top: 0px;
  }
  .work__columns-b {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-left: 0px;
  }

  .work__text-b {
    margin-bottom: 40px;
  }

  .work__title {
    margin-bottom: 20px;
  }

  .work__column {
    margin: 0 7px 25px;
  }
}
@media (max-width: 767.98px) {
  .work__row {
    display: block;
  }

  .work__column {
    margin: 0 0px 20px;
  }
  .work__column .work__content {
    margin-top: 40px;
  }

  .work__item .work__icon {
    margin: 0 auto 30px auto;
  }
  .work__item .work__label {
    text-align: center;
  }
}
.clients {
  padding: 125px 0 90px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.clients__container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 36px;
  padding: 50px 10px 50px 0;
  margin-right: 100px;
  max-width: 400px;
}

.clients__title {
  font-size: 44px;
  margin-bottom: 40px;
  line-height: 50px;
  color: #091e42;
}

.clients__text {
  margin-bottom: 80px;
  font-size: 20px;
  font-weight: 300;
  color: #3c3c3c;
}

.clients__link {
  display: inline-block;
  padding-right: 45px;
  background: url(../img/icons/vid1.png) right no-repeat;
  font-size: 18px;
  color: #003ecd;
}

.clients__img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 645px;
          flex: 0 1 645px;
}

@media (max-width: 1312px) {
  .clients__content {
    padding: 40px 10px 40px 0;
    margin-right: 30px;
  }
}
@media (max-width: 992.98px) {
  .clients__content {
    padding: 20px 10px 20px 0;
    margin-right: 10px;
  }

  .clients {
    padding: 90px 0 70px;
  }
}
@media (max-width: 767.98px) {
  .clients {
    padding: 50px 0 30px;
  }

  .clients__content {
    padding: 0;
    margin-right: 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-bottom: 10px;
  }

  .clients__container {
    display: block;
  }

  .clients__img {
    padding: 0 0 70% 0;
  }

  .clients__title {
    margin-bottom: 20px;
  }

  .clients__text {
    margin-bottom: 20px;
  }
}
.our {
  position: relative;
  padding: 75px 0;
}

.our__container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  z-index: 2;
}

.our__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.our__title {
  margin-bottom: 75px;
}

.swiper-container {
  padding: 0 0 50px 0;
  overflow: hidden;
}

.our__message {
  text-align: center;
}

.swiper-slide {
  width: 450px;
}

.our__item {
  background: #fff;
  padding: 100px 50px 50px;
  border-radius: 20px;
}

.our__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #3c3c3c;
  margin-bottom: 40px;
  position: relative;
}
.our__text:after {
  content: '"';
  color: grey;
  font-size: 80px;
  margin-left: -15px;
  position: absolute;
  top: -40px;
  left: 50%;
}

.our__client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our__info {
  line-height: 1.2;
  padding-left: 10px;
  text-align: left;
}

.our__name {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
}

.our__staff {
  color: #606060;
}

.our .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  line-height: 20px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #00acfd;
  position: relative;
}
.our .swiper-pagination-bullet-active:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: -30%;
  left: -30%;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  background-color: #00acfd;
}

@media (max-width: 767.98px) {
  .our__title {
    margin-bottom: 35px;
  }

  .our {
    padding: 30px 0;
  }

  .our__item {
    padding: 65px 20px 30px;
  }

  .our__text {
    margin-bottom: 20px;
    position: relative;
  }
  .our__text:after {
    content: '"';
    margin-left: -15px;
    top: -35px;
  }
}
.feedback {
  padding: 63px 0 41px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #0052cc;
  background-image: linear-gradient(131deg, #003ecd 37%, #0065ff 62%);
}

.feedback__container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
}

.feedback__title {
  font-size: 30px;
  line-height: 133%;
  font-weight: 700;
  color: #a0d6ff;
  margin-bottom: 40px;
}

.feedback__form {
  color: #a0d6ff;
}
.feedback__form > *:not(:last-child) {
  margin-right: 25px;
}

.feedback__input {
  font-size: 16px;
  line-height: 1.2;
  width: 347px;
  border-radius: 30px;
  padding: 0 25px;
  color: #7cb4f4;
  background: #003ecd;
  height: 44px;
  border: 1px solid #88c9ff;
  margin-bottom: 20px;
}
.feedback__input:focus {
  border: 2px solid #fff;
}

.feedback__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 44px;
  min-height: 44px;
  min-width: 200px;
  background-color: #88c9ff;
  background-image: -webkit-gradient(linear, left top, right top, from(#0bdbdf), to(#60f285));
  background-image: linear-gradient(90deg, #0bdbdf 0%, #60f285 100%);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  padding: 0 20px;
  border-radius: 30px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.feedback__btn:hover {
  background-color: #88c9ff;
  background-image: -webkit-gradient(linear, left top, right top, from(#5ffbdf), to(#00f285));
  background-image: linear-gradient(90deg, #5ffbdf 0%, #00f285 100%);
}

@media (max-width: 767.98px) {
  .feedback__title {
    margin-bottom: 20px;
  }

  .feedback__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feedback__form > *:not(:last-child) {
    margin-right: 0px;
  }
  .feedback__form .feedback__input {
    width: 100%;
  }
  .feedback__form .feedback__btn {
    width: 200px;
  }
}
@media (max-width: 479.98px) {
  .feedback__form .feedback__btn {
    width: 100%;
  }

  .feedback {
    padding: 30px 0;
  }
}
.talk {
  padding: 180px 0 90px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@media (min-width: 767.98px) {
  .talk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .talk__forms {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .talk__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    position: relative;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }

  .talk__wrapper {
    width: 50%;
    padding-right: 20px;
  }

  .talk__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 767.98px) {
  .talk__map {
    height: 450px;
  }

  .talk__column {
    margin-top: 30px;
  }

  .talk {
    padding: 30px 0 0;
  }
  .talk .talk__form {
    max-width: none;
  }
  .talk .talk__form > *:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (max-width: 479.98px) {
  .talk .talk__title {
    margin-bottom: 40px;
  }
  .talk .talk__inputs {
    display: block;
    width: 100%;
  }
  .talk .talk__inputs .talk__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 auto;
            flex: 0 auto;
    border-bottom: 1px solid #878787;
    color: #26303c;
  }
  .talk .talk__inputs .talk__input:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 60px;
  }
  .talk .talk__btn {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 35px;
  }
}
.talk__container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.talk__title {
  font-size: 46px;
  line-height: 44px;
  font-weight: 700;
  color: #091e42;
  margin-bottom: 80px;
}

.talk__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 635px;
}
.talk__form > *:not(:last-child) {
  margin-bottom: 100px;
}

.talk__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.talk__input {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  border-bottom: 1px solid #878787;
  color: #26303c;
}
.talk__input:not(:last-child) {
  margin-right: 40px;
}

.talk__textarea {
  width: 100%;
  border-bottom: 1px solid #878787;
  resize: none;
}

.talk__question {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #26303c;
  border-bottom: 1px solid #878787;
  width: 100%;
}

.talk__bottom {
  width: 100%;
}

.talk__btn {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 51px;
  line-height: 51px;
  min-width: 250px;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, right top, from(#7c9eff), to(#30dcff));
  background-image: linear-gradient(90deg, #7c9eff 0%, #30dcff 100%);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
  border-radius: 30px;
  padding: 0 20px;
  margin-bottom: 80px;
}

.talk__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.talk__social {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.talk__social:not(:last-child) {
  margin-right: 10px;
}

.talk__icon {
  height: 20px;
  width: 20px;
}

.talk__icon--1 {
  background: url(../img/icons/01.png) left no-repeat;
}

.talk__icon--2 {
  line-height: 70px;
  background: url(../img/icons/02.png) left no-repeat;
}

.talk__icon--3 {
  background: url(../img/icons/03.png) left no-repeat;
}

.talk__info {
  padding-left: 10px;
  line-height: 24px;
}

.talk__label {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #1079c8;
}

.talk__links {
  color: #394657;
}
